<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:orm="http://www.springframework.org/schema/orm"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:flow="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd  
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd  
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd  
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd  
                        http://www.springframework.org/schema/orm http://www.springframework.org/schema/orm/spring-orm-4.3.xsd  
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                        http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd">
  	
  	
  <!-- 织入流程执行器 :负责创建和执行流程-->
   <flow:flow-executor id="flowExecutor" flow-registry="flowRegistry"/>
   
   <!-- 流程注册表：加载流程定义,加载具体流程定义文件，有两种加载方式 ，只可保留一个，id="flowRegistry" 是默认的-->
   <!-- 流程注册表加载 加载 多个流程定义文件-->
   <!-- <flow:flow-registry id="flowRegistry" base-path="/WEB-INF/flows">
   	<flow:flow-location-pattern value="*-flow.xml"/>
   </flow:flow-registry>
    -->
    <!-- 流程注册表加载 单个流程定义文件-->
   <flow:flow-registry id="flowRegistry">
   	<flow:flow-location path="/WEB-INF/flows/spring-flow.xml" id="springflow"></flow:flow-location>
   </flow:flow-registry>
   
   
   <!-- 处理流程请求：一般 DispatcherServlet 将请求分发给控制器，对于流程而言，需要FlowHandlerMapping 将流程请求发送给 Spring Web Flow,
   	但是响应请求的是 FlowHandlerAdapter -->
   <bean class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">
   	<property name="flowRegistry" ref="flowRegistry"/>
   </bean>
   <!-- 配置响应请求的FlowHandlerAdapter,相当于Spring MVC 的控制器 -->
   <bean class="org.springframework.webflow.mvc.servlet.FlowHandlerAdapter">
   	<property name="flowExecutor" ref="flowExecutor"/>
   </bean>


</beans>